body {
  font-family: 'Arial', sans-serif;
  text-align: center;
  background-color: #f9f9f9;
  margin: 0px;
  padding: 50px;
}

button {
  margin: 10px;
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s;
}

button:hover {
  transform: scale(1.05);
}

#dont-click-btn {
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

#start-btn {
  background-color: #4CAF50;
  color: white;
}

#guide-btn {
  background-color: orange;
  color: white;
}

.hidden {
  display: none;
}

.screen {
  display: none;
}

.screen.active {
  display: block;
}

.images img {
  width: 300px;
  margin: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.images img:hover{
    transform: translateY(-3px);
    scale: 1.1;
}

.images img:active{
    scale: 2;
}

/*popup*/
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); /* mờ nền */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
  box-shadow: 0 0 20px white;
  transition: transform 0.3s;
}

.popup.hidden {
  display: none;
}
